  #body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  #chatbox {
    max-width: 500px;
    margin-left: 20px;
    float: right;
    padding: 10px;
  }
  #form-group{
    height: 100px;
    width: 100px;
    margin-top: 40px;
    margin-left: 400px;
    padding: 10px;
  }
  #chat-messages {
    height: 400px;
    width: 200px;
    margin-top: 40px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 30px;
  }
  
  #group-container{
    height: 400px;
    width : 200px;
    float: left;
    margin-top: 40px;
    display: list-item;
    border: 1px solid #ccc;
    padding: 10px;
    
  }
  
  #message-form {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  
  #message-input {
    flex: 1;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  
  #send-button {
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
  }
  #myButton{
    padding: 10px;
    margin-top: 40px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
  }
  #logout{
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    float: right;
  }