{% extends "base.html" %}

{% block title %}Admin{% endblock %}

{% block body %}

        <form action = "{{ url_for('register')}}", method="POST">
            <input type="text" name="username" placeholder="enter username"/>
            <input type="text" name="password" placeholder="enter password"/>
            <input type="text" name="email" placeholder="enter email" Email/>
            <button type="submit" name="submit">addusers</button>
            <div>
                {{csrf_token }}
            </div>
        </form>
        <form action = "{{ url_for('delusers')}}", method="POST">
            <input type="text" name="username" placeholder="enter username" Username/>
            <button type="submit" name="submit">delusers</button>
            <div>
                {{csrf_token }}
            </div>
            </form>
        <form action = "{{ url_for('chatroom')}}", method="post">
            <div>
                <button type="submit">chatroom</button>
            </div> 
            <div>
                {{csrf_token }}
            </div>
        </form>
{% endblock %}