{% extends "base.html" %}

{% block title %}Admin{% endblock %}

{% block body %}
        <form action = "{{ url_for('addusers')}}", method="post">
            <div> 
                <input type="text" name = "addusers" />
            </div>
            <div>
                <button type="submit" >addusers</button>
            </div> 
            <div>
                {{csrf_token }}
            </div>
        </form>
        <form action = "{{ url_for('delusers')}}", method="post">
            <div>
                <input type="text" name = "delusers" />
            </div> 
            <div>
                <button type="submit" >delusers</button>
            </div>
            <div>
                {{csrf_token }}
            </div>
        </form>
        <form action = "{{ url_for('chatroom')}}", method="post">
            <div>
                <button type="submit">chatroom</button>
            </div> 
            <div>
                {{csrf_token }}
            </div>
        </form>
{% endblock %}