<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Simple Chat</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
  </head>
  <body>
    <div id="wholepanel">
    <div id="chatbox">
      <div id="chat-messages"></div>
      <form id="message-form">
        <input id="message-input" type="text" placeholder="Type your message...">
        <button id="send-button" type="submit">Send</button>
      </form>
    </div>
    
    <div id="rightpanel">
      <form action = "{{ url_for('create_group')}}" method="post" id="group-form">
        <button id="create-button" type="submit">Create group</button>
      </form>
      <div id="groups">
        <!-- group names display -->
      </div>
    </div> 
  </div>
    <script src="/static/scripts/socket.js"></script>
  </body>
</html>